# Ignore the generated reports folder
output/

# Ignore log files generally 
*.log
# EXCEPT the sample logs required for the project structure
!test_data/*.log

# OS Files
.DS_Store

Thumbs.db

# IDE Files
.vscode/
*.code-workspace

# Build artifacts
*.o
*.out
bin/